<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_6_semester.Properties.Settings.exportConnectionString"
            connectionString="Data Source=DESKTOP-V6Q9ITN\SQLEXPRESS;Initial Catalog=export;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>